<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form>
                    <div class="row">
                        <label for="name"><i class="fa fa-user"></i> Name</label>
                        <input type="text" id="name" name="name" readonly>

                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" readonly>

                        <label for="car"><i class="fa fa-car"></i> Car</label>
                        <input type="text" id="car" name="car" readonly>

                        <label for="plate"><i class="fa fa-id-card"></i> Plate</label>
                        <input type="text" id="plate" name="plate" readonly>

                        <label for="seats"><i class="fa fa-sort-numeric-asc"></i> Seats</label>
                        <input type="text" id="seat" name="seats" readonly>

                        <label for="date"><i class="fa fa-calendar"></i> Date</label>
                        <input type="text" id="date" name="date" readonly>

                    </div>
                </form>

                <section class="images-container">
                    <img class="images-item" [src]="" alt="Example image">
                    <img class="images-item" [src]="" alt="Example image">
                    <img class="images-item" [src]="" alt="Example image">
                </section>

                <div class="row">
                    <button class="btn">Accept</button>
                    <button class="btn">Reject</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>