* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 19px;
    padding: 8px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="date"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    align-self: start;
    width: 100%;
    margin-left: 20px;
}

.images-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images-item {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}