<div class="wrapper">

    <div class="logo">
        <img src="../assets/logo.png" alt="logo">
    </div>

    <div class="name">
        Wen Wasel
    </div>

    <form class="form-container" >

        <div class="form-field">
            <input type="email" name="email" id="email" placeholder="Email" ngModel required email>
        </div>

        <div class="form-field">
            <input type="password" name="password" id="password" placeholder="Password" ngModel required>
        </div>

        <button class="btn" type="submit"></button>
        <br /><br />
        <span class="error"></span>

    </form>

</div>