<div class="container">
    <div class="drivers-header">
        <div class="title">Passengers</div>
        <div class="search-container">
            <fa-icon [icon]="searchIcon" class="search-icon"></fa-icon>
            <input type="text" class="search" placeholder="Search"/>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>234</td> 
                <td>ali ismail</td> 
                <td>hello@email.email</td> 
                <td>asdawdawd aw</td> 
                <td>awdaw</td> 
            </tr>
        </tbody>
    </table>
</div>